<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .image-column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center mt-5">Please Select Your Design for Your Resume....!!</h1>
    <div class=" container"><br><br><br>
    <div class="d-flex justify-content-between mt-5">

    <div class="image-column">
        <img style="height:180px; weight:180px " src="{% static 'image/template1.png' %}" alt="Template 1"><br>
        <a href="/core/template1/">Template 1</a>
    </div>
    <div class="image-column">
        <img style="height:180px; weight:180px " src="{% static 'image/template2.png' %}" alt="Template 2"><br>
        <a href="/core/template2/">Template 2</a>
    </div>
    <div class="image-column">
        <img style="height:180px; weight:180px " src="{% static 'image/template3.png' %}" alt="Template 2"><br>
        <a href="/core/template3/">Template 3</a>
    </div>
    <div class="image-column">
        <img style="height:180px; weight:180px " src="{% static 'image/template4.png' %}" alt="Template 3"><br>
        <a href="/core/template4/">Template 4</a>
    </div></div></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
